################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OONM/v15/ipch/AutoPCH/33998667434bdb41
/.vs/OONM/v15/Browse.VC.db
/.vs/OONM/v15/Browse.VC.opendb
/.vs/ProjectSettings.json
