################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OONM/v15/ipch/AutoPCH/33998667434bdb41
